<div class="container-fluid">
    <router-outlet></router-outlet>
    <!-- <div class="row">
        <div *ngFor="let r of arrRestaurants; let i=index" class="col-md-6" >
            <app-restaurants [id]="r.id" [restaurantName]="r.name" [addresses]="r.addresses"></app-restaurants>
        </div>
    </div> -->
</div>

<!-- <div>
    Choice {{choice}}
    <ul [ngSwitch]="choice">
        <li *ngSwitchCase="1">FirstChoice</li>
        <li *ngSwitchCase="2">Second Choice</li>
        <li *ngSwitchCase="3">Third Choice</li>
        <li *ngSwitchCase="4">4th Choice</li>
        <li *ngSwitchCase="5">fifth choice</li>
    </ul>
</div>
<div>
    <button class="ui primary" (click)="nextChoice()" name="Button">Button</button>
</div> -->