<h3>Cart</h3>
<div>Cart ID : {{cart.id}}</div>
<div> Items in cart: </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price Per item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody *ngFor="let d of cart.items;let in = index">
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.cost}}</td>
            <td>{{cart.quantity[in]}}</td>
            <td>{{cart.quantity[in]*d.cost}}</td>
            <td>{{d.description}}</td>
        </tr>
    </tbody>
</table>
<div>Total Price: {{cart.amount}}</div>