<!-- <form [formGroup]="contactUsForm" (ngSubmit)="OnSubmit(contactUsForm.value)"> -->
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your Name">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Emai:</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="email"/>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
    </div>
<!-- </form> -->
