<div class="mb-3" *ngFor="let i of cartItems; let in=index">
    <div>
        <div>{{i.name}}</div>
        <div>{{i.cost}} x {{itemQuantity[in]}} : {{i.cost*itemQuantity[in]}}</div>

        <button type="button" class="btn btn-danger" (click)="removeItemFromCart(i)">-</button>
        {{itemQuantity[in]}}
        <button type="button" style="margin:1%" class="btn btn-primary" (click)="addAgainToCart(i)">+</button>
    </div>
</div>

<div *ngIf="cart.items.length>0">
    <div class="fs-2">Total Cost: {{cart.amount}}</div>
    <button type="button" class="btn btn-primary" (click)="orderItemsInCart()"> CHECK OUT</button>
</div>