<div class="mb-3" *ngFor="let i of cart.items; let in=index">
    <div>
        <div>{{i.name}}</div>
        <div>{{i.cost}} x {{cart.quantity[in]}} : {{i.cost*cart.quantity[in]}}</div>

        <button type="button" class="btn btn-danger" (click)="removeItemFromCart(i)">-</button>
        {{cart.quantity[in]}}
        <button type="button" style="margin:1%" class="btn btn-primary" (click)="addAgainToCart(i)">+</button>
    </div>
</div>
<div *ngIf="cart.items.length>0">
    <button type="button" class="btn btn-primary" (click)="orderItemsInCart()"> CHECK OUT</button>
</div>