<mat-tab-group>
    <mat-tab label="User">
        <mat-tab-group>
            <mat-tab label="View Users">
                <app-user></app-user>
            </mat-tab>
            <mat-tab label="Add Users">
                <app-signupform></app-signupform>
            </mat-tab>
            <mat-tab label="Update Users"><app-updateuser></app-updateuser> </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Restaurant">
        <mat-tab-group>
            <mat-tab label="View Restaurants"><app-restaurant-admin></app-restaurant-admin> </mat-tab>
            <mat-tab label="Add Restaurant"><app-add-restaurant-form></app-add-restaurant-form> </mat-tab>
            <mat-tab label="Update Restaurant"> <app-update-restaurant-form></app-update-restaurant-form> </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Cart">
        <mat-tab-group>
            <mat-tab label="View Cart"> <app-cart-admin></app-cart-admin> </mat-tab>
            <mat-tab label="Add Cart"></mat-tab>
            <mat-tab label="Update Cart"> <app-update-cart></app-update-cart> </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Orders">
        <mat-tab-group>
            <mat-tab label="View Order"><app-order-admin></app-order-admin> </mat-tab>
            <mat-tab label="Add Order"> <app-add-order-form></app-add-order-form></mat-tab>
            <mat-tab label="Update Order"><app-update-order-form></app-update-order-form></mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>