<div class="row">
    <h2>{{restaurant.name}}</h2>
    <div class="align-items-center">
        <img src="{{restaurant.image}}" alt="" srcset="" width="500em" />
    </div>
    <div>
        We are @
    </div>
    <div *ngFor="let a of restaurant.addresses">
        {{a.houseNo}}, {{a.street}}, {{a.area}}, {{a.city}}, {{a.state}}
    </div>
    <h3>Items:</h3>
    <div class="card" *ngFor="let d of restaurant.items" style="width: 18rem;">
        <div class="card-header">{{d.name}}</div>
        <img src="{{d.image}}" class="card-img-top" style="width:16em; height:16em;" alt="Picture of {{d.name}}"  [ngClass] = "{'disabled-image': d.isAvailable==false }" >
        <div class="card-body">
            
            <div>Price: {{d.cost}}</div>

        </div>
        <button class="btn btn-primary" [ngClass]="{disabled:!d.isAvailable}" name="Add To Cart"
            (click)="addItemToUserCart(d)">Add To Cart</button>
    </div>
</div>